<! DOCTYPE html>
<head>
    <title>My first blog app</title>
</head>
<html>
    <body>
        <header>
            <h1><a href="/"> Django blog app</a></h1>
            <article>
                <time>published: 14.05.2014, 12:14</time>
                <h2><a href="">My first post</a></h2>
                <p>Aenean eu lo quam. pellentesque ornare sem lacinia quam venetibulum. 
                    Donec id elit non mi porta gravida at eget metus.
                </p>
            </article>
            <article>
                <time>published: 14.05.2014, 12:14</time>
                <h2><a href="">My second post</a></h2>
                <p>Aenean eu lo quam. pellentesque ornare sem lacinia quam venetibulum. 
                    Donec id elit non mi porta gravida at eget metus.
                </p>
            </article>
    </body>
</html>